<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-4 control-label" for="name">Nombre:</label>
		<div class="col-sm-4">
			<input type="text" id="name" class="form-control" value="{{ name }}">
		</div>
	</div>
	<div class="form-group release-time">
		<label class="col-sm-4 control-label" for="datetime">Tiempo de Liberación:</label>
		<div class="col-sm-5">
			<div class="input-group date">
				<input type="text" id="datetime" class="form-control" value="{{ time }}">
				<span class="input-group-addon" id="datepick">
					<i></i>
				</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label">Duración de la Liberación:</label>
        <div class="col-sm-8">
            <label class="col-sm-2 control-label" for="days">Día(s)</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="days" min="0" value="{{ duration.days }}" />
            </div>
            <label class="col-sm-2 control-label" for="hours">Hora(s)</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="hours" min="0" max="23" value="{{ duration.hours }}" />
            </div>
        </div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="amount">Cantidad Liberada:</label>
		<div class="col-sm-3">
			<input type="number" min="0" step="10" id="spill-amount" class="form-control" value="{{ amount }}">
		</div>
		<div class="col-sm-4">
			<select class="form-control" id="units">
				{% if (showSubstance){ %}
					<option value="m³">
						metros cuadrados
					</option>
					<option value="gal">
						galones
					</option>
					<option value="bbl">
						barriles
					</option>
					<option value="ton">
						toneladas
					</option>
					<option value="mt">
						toneladas métricas
					</option>
					<option value="kg">
						kilogramos
					</option>
				{% } else { %}
					<option value="ton">
						toneladas
					</option>
					<option value="mt">
						toneladas métricas
					</option>
					<option value="kg">
						kilogramos
					</option>
				{% } %}
			</select>
		</div>
	</div>
    <div class="form-group">
		<label class="col-sm-4 control-label" for="constant">Release Rate:</label>
		<div class="col-sm-3">
			<input type="number" min="0" id="spill-rate" class="form-control">
		</div>
		<div class="col-sm-4">
			<select class="form-control" id="rate-units">
				{% if (showSubstance){ %}
					<option value="bbl/hr">
						barriles/hora
					</option>
					<option value="bbl/day">
						barriles/día
					</option>
					<option value="gal/hr">
						galones/hora
					</option>
						<!--<option value="gal/min">
						gal/min
					</option> -->
					<option value="m³/hr">
						cubic metros/hora
					</option>
					<option value="ton/hr">
						toneladas/hora
					</option>
					<option value="mt/hr">
						toneladas métricas/hora
					</option>
					<option value="kg/hr">
						kilogramos/hora
					</option>
				{% } else { %}
					<option value="ton/hr">
						toneladas/hora
					</option>
					<option value="mt/hr">
						toneladas métricas/hora
					</option>
					<option value="kg/hr">
						kilogramos/hora
					</option>
				{% } %}
			</select>
		</div>
	</div>
	<div class="form-group">
        <label class="control-label col-sm-5">Confianza en la Cantidad de Petróleo Derramado:</label>
        <div class="col-sm-6">
            <div class="slider"></div>
        </div>
        <div class="col-sm-2 col-sm-offset-5 slider-label"><sup>Cierto</sup></div>
        <div class="col-sm-2 col-sm-offset-2 slider-label" style="text-align:right"><sup>Incierto</sup></div>
    </div>

    <div class="row">
    	{% if(showGeo){ %}
        <div id="oilInfo" class="col-md-6"></div>
        <div id="positionInfo" class="col-md-6 position"></div>
        {% } else { %}
        <div id="oilInfo" class="col-md-12"></div>
        {% } %}
    </div>
</form>
