<div id="mapspill-{{ cid }}">
    <div class="row">
        <div class="col-md-9">
            <p><br>Elija el tipo de derrame con el botón de la izquierda.</br>
            <br>Click izquierdo para poner o quitar un pin en la ubicación deseada.</br>

            </p></div>
        <div class="col-md-3">
            <p>Coordenadas:<p>
            <div class="radio">
                <label><input type="radio" name="format" value="dms" checked> Grados</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="format" value="dec"> Decimales</label>
            </div>
        </div>
    </div>
    <div id="spill-form-map-{{ cid }}" class="map"></div>
</div>
