<div class="option instant" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Liberación instantánea</div>
    <p>El petróleo se derrama muy rápido.</p>
</div>

<div class="option continue" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Liberación continua</div>
    <p>El petróleo es derramado durante un tiempo determinado.</p>
</div>

<!-- <div class="option pipeline" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Pipline Leak</div>
    <p>Oil leaking from a pipeline</p>
</div>

<div class="option well-blowout" data-dismiss="modal">
    <div class="icon"></div>
    <div class="title">Well Blowout</div>
    <p>Oil leaking subsurface from a well.</p>
</div> -->
