<div class="intro">
    <div class="container">
        <div class="row">
            <div class="title">
                <img class="webgnome_logo" src="img/WebGNOMEcca_logo_short.png"> (BETA)
            </div>
        </div>

        <div class="row">
                <div class="col-md-auto">

                    <p style="text-align:justify;">
                        WebGNOME-CCA es un modelo para predecir el destino y el transporte de contaminantes derramados en el agua.

                        Fue desarrollado por la División de Respuesta a Emergencias (ERD) de la Oficina de Respuesta y Restauración (ORR) de la
                        Administración Nacional Oceánica y Atmosférica (NOAA) y adaptado en el Centro de Ciencias de la Atmósfera (CCA)
                        para su uso ante derrames de petróleo.
                        </p>
                        <p style="text-align:justify;">
                        Para usar WebGNOME-CCA, el usuario describe un escenario de derrame de petróleo y agrega información
                        al programa; esta información pueden ser archivos con las corrientes oceánicas, el campo de viento,
                        información de la línea de costa, entre otros.
                        Es posible elegir un tipo de petróleo específico para saber su destino entre una base de datos que contiene
                        información de diferentes tipos de petróleo y productos refinados. </p>
                </div>

        </div>

        <div class="row">
            <div class="main">

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Información</h4>
                    </div>
                    <div class="panel-footer">
                        <p  style="text-align:justify;"> Toda la información para comenzar a utilizar WebGNOME-CCA en el manual de usuario. </p>
                        <br>
                        <a href="#" class="doc btn btn-warning btn-block"><span class="glyphicon glyphicon-question-sign"> </span> Manual de Usuario WebGNOME</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Ubicaciones Precargadas</h4>
                    </div>
                    <div class="panel-footer">
                        <p style="text-align:justify;"> Seis diferentes ubicaciones precargadas con información de la línea de costa, campos de vientos y corrientes oceánicas. </p>
                        <!-- <a href="#" class="gnome-wizard btn btn-primary btn-block"><span class="glyphicon glyphicon-flash"> </span> GNOME Wizard</a> -->
                        <a href="#" class="location btn btn-primary btn-block"><span class="glyphicon glyphicon-map-marker"> </span> Ubicaciones Precargadas</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Configuración Manual de un Escenario</h4>
                    </div>
                    <div class="panel-footer">
                        <p style="text-align:justify;">Crea un escenario personalizado y carga información de la línea de costa, campo de viento, corrientes oceánicas,
                        </p>
                        <a href="#" class="advanced btn btn-primary btn-block"><span class="glyphicon glyphicon-wrench"> </span> Configuración Manual</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">


          <div class="col-md-4">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h4>Librería ADIOS</h4>
                  </div>
                  <div class="panel-footer">
                      <p style="text-align:justify;">
                        La librería ADIOS incluye información de las propiedades químicas y físicas de diferentes tipos de petróleo.
                        Puedes elegir el tipo de petróleo para tu escenario de esta librería y utilizarla en la modelación.
                    </p>
                      <a href="#" class="btn btn-primary btn-block oillib"><span class="glyphicon glyphicon-th-list"> </span> Librería ADIOS</a>
                  </div>
              </div>
         </div>
         <div class="col-md-4">
             <div class="panel panel-default">
                 <div class="panel-body">
                     <h4>Cargar Escenario</h4>
                 </div>
                 <div class="panel-footer">
                     <p>
                     Cargar un escenario WebGNOME-CCA guardado.
                     </p>
                     <div class="load"></div>
                 </div>
             </div>
         </div>
         <div class="col-md-4">
             <div class="panel panel-default">
                 <div class="panel-body">
                     <h4>Enlaces Útiles</h4>
                 </div>
                 <div class="panel-footer">
                     <ul>
                     <li><a href="https://response.restoration.noaa.gov/oil-and-chemical-spills/oil-spills/response-tools/gnome-suite-oil-spill-modeling.html"  target="_blank">
                     <strong>Más información de la suite de modelado de GNOME (inglés).</strong></a></li>
                     <li><a href="https://gnome.orr.noaa.gov/goods"  target="_blank">
                     <strong>Datos del campo de viento y corrientes oceánicas de la base de datos GOODS para usar en WebGNOME.</strong></a></li>


                     </ul>
                 </div>
             </div>

         </div>
        <!--<a href="/goods" class=" btn btn-warning btn-block"><span class="glyphicon glyphicon-globe"> </span> GOODS</a>-->

    </div>
</div>
