<div class="container">
    <div class="row">
        <div class="main">
            <h2>Ubicaciones Precargadas</h2>
                <p>Para comenzar, elija un sitio del mapa o de la lista de la derecha.

                </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="location-list"></div>
            <div class="map" id="locations-map">
                <div class="popup"></div></div>
            </div>

    </div>
    <div class="tooltip-hover"></div>
</div>
